<!--   <header>
       <div class="expanded row">
       <div class="columns small-12"><img src="/assets/img/VetsWrite-logo.png" alt="VetsWrite logo"></div>
       <div class="columns small-12">
          <ul id="nav-links-ul">
           <li class="nav-link"><a href="{{site.baseurl}}">Home</a></li>
           <li class="nav-link"><a href="{{site.baseurl}}/participants-writing.html">Participants' Writing</a></li>
           <li class="nav-link"><a href="{{site.baseurl}}/public-reading-reception.html">Public Reading &amp; Reception</a></li>
           <li class="nav-link"><a href="{{site.baseurl}}/our-sponsors.html">Our Sponsors</a></li>
           <li class="nav-link"><a href="{{site.baseurl}}/about-us.html">About Us</a></li>
           <li class="nav-link"><a href="{{site.baseurl}}/contact-us.html">Contact Us</a></li>
       </ul></div>
</div>
   </header>-->

<header>
    <div class="title-bar" data-responsive-toggle="vetswrite-menu" data-hide-for="medium">
        <button class="menu-icon dark" type="button" data-toggle="vetswrite-menu"></button>
        <div class="title-bar-title"><img src="/assets/img/VetsWrite-logo.png" alt="VetsWrite logo"></div>
    </div>

    <div class="top-bar" id="vetswrite-menu">

      <div class="top-bar-left show-for-medium-up">
          <div class="top-bar-title show-for-medium">
                <a href="http://www.vetswrite.com" ><img  src="/assets/img/VetsWrite-logo.png" alt="VetsWrite logo"></a>
            </div>
            <ul class="menu vertical medium-horizontal" data-dropdown-menu>
                <!--      <li class="menu-text">Site Title</li>
      <li>
        <a href="#">One</a>
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </li>-->
                <li class="nav-link"><a href="http://www.vetswrite.com">Home</a></li>
                <li class="nav-link"><a href="{{site.baseurl}}/participants-writing.html">Participants' Writing</a></li>
                <li class="nav-link"><a href="{{site.baseurl}}/public-reading-reception.html">Public Reading &amp; Reception</a></li>
                <li class="nav-link"><a href="{{site.baseurl}}/our-sponsors.html">Our Sponsors</a></li>
                <li class="nav-link"><a href="{{site.baseurl}}/about-us.html">About Us</a></li>
                <li class="nav-link"><a href="{{site.baseurl}}/contact-us.html">Contact Us</a></li>
            </ul>
        </div>

    </div>


</header>