<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/assets/css/foundation.css">
    <link rel="stylesheet" href="/assets/css/vetswrite.css">
  </head>
  <body>

   {%include header.html%}


   
<div class="row expanded">{%include subpage-header.html%}</div>
 
 <div class="row subpages-content"> 
  <div class="columns small-12">{{content}}
   </div></div>


 
   
   {%include footer.html%}
</body>
</html>


 